.Home {
     width: 100%;
     height: auto;
     margin-top: 56px;
     display: flex;
     flex-direction: column;
     /* justify-content: space-between;  */

}

.news {
     margin: auto;
     gap: 10px;
     display: flex;
     justify-content: space-around;
}

.news_card {
     background-color: rgba(0, 0, 0, 0.429);
     width: 500px;
     height: 250px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
}

.projects {
     width: 85%;
     margin: auto;
     margin-top: 40px;
}

.projects ul {
     display: flex;
     list-style: none;
     justify-content: center;
     align-items: center;
     gap: 20px;
}

.projects ul li {
     width: 325px;
}

.projects ul li button {
     width: 90%;
     height: 55px;
     border-radius: 30px;
     border: none;
     outline: none;
     font-size: 22px;
     text-align: center;
}

.son p {
     font-size: 20px;
     color: white;
     font-family: sans-serif;
}

.son h1 {
     font-size: 53px;
     color: white;
     font-family: sans-serif;
}

.son {
     display: flex;
     justify-content: center;
     align-items: first baseline;
}




























/* .right_home h1 { 
     font-size: 70px;
     font-family: 'Cuprum', Arial, sans-serif;
     font-weight: 400;
     color: #1a4d6c;
     margin-top: 100px;
     margin-left: 180px;
     line-height: 95px;
}

.right_home button {
     width: 445px;
     height: 84px;
     color: #fcf9f9;
     background: #a30e21;
     ;
     font-size: 33px;
     line-height: 51px;
     font-weight: 400;
     border-radius: 45px;
     border: none;
     outline: none;
     font-family: 'Cuprum', Arial, sans-serif;
     margin-top: 92px;
     margin-left: 180px;
}

.left_gome ul {
     color: #1a4d6c;
     font-family: 'Cuprum', Arial, sans-serif;
     list-style: none;
     font-weight: 100;
     margin-top: 165px;
}

.left_gome a {
     text-decoration: none;
     color: #1a4d6c;

}

.left_gome ul li:nth-child(1) {
     margin-bottom: 30px;
}

.left_gome ul li:nth-child(2) {
     margin-bottom: 30px;
}

.left_gome ul li:nth-child(3) {
     margin-bottom: 30px;
}

.left_gome ul li:nth-child(4) {
     margin-bottom: 30px;
}
*/
/* .left_gome ul{
     list-style: none;
     color: #1a4d6c;
     font-family: 'Cuprum',Arial,sans-serif;
     list-style: none;
     font-weight: 100;
     margin-top: 165px;
     display: flex;
     justify-content: center;
     /* align-items: center; 
     flex-direction: column;
}*/
/* .left_gome ul li { 
     display: flex;
     align-items: center;
     color: #1a4d6c;
     font-family: 'Cuprum', Arial, sans-serif;
     font-weight: 100;


}

.left_gome ul li p {
     font-size: 24px;
     color: #1a4d6c;
     font-family: 'Cuprum', Arial, sans-serif;
     font-weight: 100;
}*/

/* .left_gome ul li {
     font-size: 24px;
     line-height: 35px;
     display: flex;
     gap: 20px;
}

.left_gome ul li img {
     width: 40px;
     height: 40px;
}*/